<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :venue_id %>
    <%= form.number_field :venue_id, id: :event_venue_id %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.number_field :artist_id, id: :event_artist_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :event_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :event_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
