<% @events.each do |event| %> 

<script> 

  $(document).ready(function (){
    function initialize(){

      var venueCoords = new google.maps.LatLng(<%= event['venue']['lat'] %>, <%= event['venue']['lng'] %>);

      var image = { url: "https://www.northcountrypublicradio.org/support/images/icon-ticket.png", scaledSize: new google.maps.Size(25, 25)
    }

      var venueMarker = new google.maps.Marker({
        position: venueCoords,
        map: map,
        icon: image,
        animation: google.maps.Animation.DROP
    });

    marker.setMap(map);            
  };

      var contentStringUser = "This is you!";

      var contentStringEvent = "<%= event['venue']['displayName'] %> | <%= event['start']['date'] %> | <%= event['start']['time'] %>";

      

  //var infoWindowEvent = new google.maps.InfoWindow({
    //content: contentStringEvent
  //});

  //google.maps.event.addListener(venueMarker, 'click', function() {
    //infoWindowEvent.open(map, venueMarker);
  //});

  //var infoWindowUser = new google.maps.InfoWindow({
    //content: contentStringUser
  //});

  //google.maps.event.addListener(userMarker, 'click', function() {
    //infoWindowUser.open(map, userMarker);
  //});

//}

google.maps.event.addDomListener(window, 'load', initialize);
});

</script>

<% end %>

<div id="map-canvas"></div>

<script>

  var userCoords = new google.maps.LatLng(35.77657,-78.64543);

  var mapOptions = {
    center: { lat: 35.7855, lng: -78.64543 },
    zoom: 14,
    scrollwheel: false
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

</script>

<h1>Events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Venue</th>
      <th>Artist(s)</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event['venue']['displayName'] %></td>
        <td>
          <% event['performance'].each do |artist| %>
               <%= artist['artist']['displayName'] %>
               <br />
            <% end %>
        </td>
        <td><%= event['start']['date'] %></td>
        <td><%= event['start']['time'] %></td>
        <td><%#= link_to 'Show', event %></td>
        <td><%#= link_to 'Edit', edit_event_path(event) %></td>
        <td><%#= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
