<body class="bg">
  <center>
    <div class="login_div">
      <h1 class="login_txt"><i>Pavement</i></h1>
      <br />

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "login_txt" %>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log In", class: "btn btn-primary" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </center>
</body>